#container{
    position: absolute;
    z-index: 1001;
}

a {
    text-decoration: none;
}

a.mainNav{
    color: white;
    font-weight: bold;
    font-size: 22px;
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    float: left;
    background-color: #2553be;
    text-decoration: none;
}

a.mainNav:hover{
    background-color: #2553be;
    color: white
}

a.selectedRollover{
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    float: left;
    background-color: #178eca;
}

.rolloverMenu{
    float: left;
    padding: 10px 10px 6px 10px;
    position: absolute;
    z-index: 1000;
    background-color: #178eca;
    width: 100px;
}

.rolloverMenu#mainMenu{
    top: 40px;
}

.rolloverMenu a{
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}